In [2]:
import pandas as pd 
import numpy as np

In [3]:
dataset = pd.read_csv("../input/walmart-retail/dataset.csv")

In [4]:
dataset = dataset.drop(columns = ['Item_id'])

In [5]:
dataset.columns

Index(['Base_Price', 'Base_Units', 'Price1', 'Units1', 'Price2', 'Units2',
       'Price3', 'Units3', 'Price4', 'Units4'],
      dtype='object')

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Base_Price  300 non-null    int64
 1   Base_Units  300 non-null    int64
 2   Price1      300 non-null    int64
 3   Units1      300 non-null    int64
 4   Price2      300 non-null    int64
 5   Units2      300 non-null    int64
 6   Price3      300 non-null    int64
 7   Units3      300 non-null    int64
 8   Price4      300 non-null    int64
 9   Units4      300 non-null    int64
dtypes: int64(10)
memory usage: 23.6 KB

In [7]:
npdataset = dataset.values

In [8]:
npdataset[:5]

array([[  54,   79,   52,   94,   49,  108,   46,  122,   44,  137],
       [  56,  803,   54,  928,   51, 1053,   48, 1177,   45, 1302],
       [  48,  563,   46,  653,   44,  743,   41,  833,   39,  923],
       [  49,   65,   47,   71,   45,   76,   42,   82,   40,   87],
       [  22,  497,   21,  589,   20,  680,   19,  771,   18,  862]])

In [9]:
base_revenue = 0
for i in npdataset:
    base_revenue+=(i[0]*i[1])

base_revenue

5778972

In [10]:
total_base_quantity = dataset.iloc[:,1].sum()
total_base_quantity

144328

In [11]:
criterion1_revenuegainask = 1.1*base_revenue
criterion1_quantitygainask = 1.25*total_base_quantity

In [12]:
finalitems = []
rangelist = [0,1,2,3,4,5,6,7,8,9]
i = 0
j = i+1

total_base_qty = 0
total_sale_price = 0
total_sale_qty = 0
total_base_price = 0
total_hit = 0


for item in npdataset:
    total_base_price+=(1.1*item[0]*item[1])
    total_base_qty+=(1.25*item[1])
    
    if ((total_sale_price+item[0]*item[1]>= total_base_price) and (total_sale_qty+item[1] >= total_base_qty)):
        total_sale_price+=(item[0]*item[1])
        total_sale_qty+=item[1]
        finalitems.append(0)
        continue
    
    choose = []
    for i in [2,4,6,8]:
        choose.append([item[i],item[i+1], ((item[0] - item[i])*item[i+1]), i, ((item[0] - item[i])*item[i+1])])
    
    newchoose = sorted(choose, key = lambda x:x[2])
    item_chosen = 0
    for prospective_item in newchoose:
        if( (total_sale_price+prospective_item[0]*prospective_item[1]>=total_base_price) and (total_sale_qty+prospective_item[1] >= total_base_qty) ):
            item_chosen = 1
            total_sale_price+=(prospective_item[0]*prospective_item[1])
            total_sale_qty+=prospective_item[1]
            finalitems.append(prospective_item[3])
            total_hit+=prospective_item[4]
            break
        
    if item_chosen == 0:
        total_sale_price+=(newchoose[0][0]*newchoose[0][1])
        total_sale_qty+=newchoose[0][1]
        finalitems.append(newchoose[0][3])
        total_hit+=newchoose[0][4]

In [13]:
submissionarray = []
for i in finalitems:
    if(i == 0):
        submissionarray.append('Base_Price')
    elif(i == 2):
        submissionarray.append('Price1')
    elif(i == 4):
        submissionarray.append('Price2')
    elif(i == 6):
        submissionarray.append('Price3')
    elif(i == 8):
        submissionarray.append('Price4')

In [14]:
submissionarray = list(enumerate(submissionarray))

In [15]:
submissionarray = [[i[0]+1, i[1]] for i in submissionarray]

In [16]:
submissionarray

[[1, 'Price2'],
 [2, 'Price2'],
 [3, 'Price1'],
 [4, 'Price2'],
 [5, 'Price2'],
 [6, 'Price1'],
 [7, 'Price1'],
 [8, 'Price2'],
 [9, 'Base_Price'],
 [10, 'Price2'],
 [11, 'Base_Price'],
 [12, 'Price3'],
 [13, 'Price2'],
 [14, 'Price2'],
 [15, 'Base_Price'],
 [16, 'Base_Price'],
 [17, 'Price3'],
 [18, 'Price1'],
 [19, 'Price2'],
 [20, 'Price3'],
 [21, 'Base_Price'],
 [22, 'Price2'],
 [23, 'Price2'],
 [24, 'Price2'],
 [25, 'Price2'],
 [26, 'Base_Price'],
 [27, 'Price2'],
 [28, 'Price2'],
 [29, 'Price1'],
 [30, 'Price3'],
 [31, 'Price1'],
 [32, 'Price2'],
 [33, 'Price2'],
 [34, 'Price2'],
 [35, 'Price2'],
 [36, 'Price2'],
 [37, 'Base_Price'],
 [38, 'Price2'],
 [39, 'Price1'],
 [40, 'Price3'],
 [41, 'Price3'],
 [42, 'Price1'],
 [43, 'Price4'],
 [44, 'Price2'],
 [45, 'Base_Price'],
 [46, 'Price2'],
 [47, 'Price1'],
 [48, 'Price4'],
 [49, 'Price1'],
 [50, 'Price3'],
 [51, 'Price2'],
 [52, 'Price2'],
 [53, 'Price3'],
 [54, 'Price1'],
 [55, 'Price2'],
 [56, 'Price1'],
 [57, 'Price2'],
 [58, 'Price2'],
 [59, 'Base_Price'],
 [60, 'Price2'],
 [61, 'Price1'],
 [62, 'Price2'],
 [63, 'Base_Price'],
 [64, 'Price2'],
 [65, 'Price2'],
 [66, 'Price1'],
 [67, 'Price1'],
 [68, 'Price3'],
 [69, 'Price1'],
 [70, 'Price2'],
 [71, 'Price2'],
 [72, 'Price2'],
 [73, 'Base_Price'],
 [74, 'Base_Price'],
 [75, 'Price2'],
 [76, 'Base_Price'],
 [77, 'Price1'],
 [78, 'Price1'],
 [79, 'Price2'],
 [80, 'Price2'],
 [81, 'Price2'],
 [82, 'Price1'],
 [83, 'Price2'],
 [84, 'Price3'],
 [85, 'Price3'],
 [86, 'Base_Price'],
 [87, 'Price1'],
 [88, 'Price1'],
 [89, 'Price1'],
 [90, 'Price1'],
 [91, 'Price1'],
 [92, 'Price1'],
 [93, 'Price1'],
 [94, 'Price1'],
 [95, 'Price1'],
 [96, 'Price1'],
 [97, 'Price1'],
 [98, 'Price1'],
 [99, 'Price1'],
 [100, 'Price1'],
 [101, 'Price1'],
 [102, 'Price1'],
 [103, 'Price1'],
 [104, 'Price1'],
 [105, 'Price1'],
 [106, 'Price1'],
 [107, 'Price1'],
 [108, 'Price1'],
 [109, 'Price1'],
 [110, 'Price1'],
 [111, 'Price1'],
 [112, 'Price1'],
 [113, 'Price1'],
 [114, 'Price1'],
 [115, 'Price1'],
 [116, 'Price1'],
 [117, 'Price1'],
 [118, 'Price1'],
 [119, 'Price1'],
 [120, 'Price1'],
 [121, 'Price1'],
 [122, 'Price1'],
 [123, 'Price1'],
 [124, 'Price1'],
 [125, 'Price1'],
 [126, 'Price1'],
 [127, 'Price1'],
 [128, 'Price1'],
 [129, 'Price1'],
 [130, 'Price1'],
 [131, 'Price1'],
 [132, 'Price1'],
 [133, 'Price1'],
 [134, 'Price1'],
 [135, 'Price1'],
 [136, 'Price1'],
 [137, 'Price1'],
 [138, 'Price1'],
 [139, 'Price1'],
 [140, 'Price1'],
 [141, 'Price1'],
 [142, 'Price1'],
 [143, 'Price1'],
 [144, 'Price1'],
 [145, 'Price1'],
 [146, 'Price1'],
 [147, 'Price1'],
 [148, 'Price1'],
 [149, 'Price1'],
 [150, 'Price1'],
 [151, 'Price1'],
 [152, 'Price1'],
 [153, 'Price1'],
 [154, 'Price1'],
 [155, 'Price1'],
 [156, 'Price1'],
 [157, 'Price1'],
 [158, 'Price1'],
 [159, 'Price1'],
 [160, 'Price1'],
 [161, 'Price1'],
 [162, 'Price1'],
 [163, 'Price1'],
 [164, 'Price1'],
 [165, 'Price1'],
 [166, 'Price1'],
 [167, 'Price1'],
 [168, 'Price1'],
 [169, 'Price1'],
 [170, 'Price1'],
 [171, 'Price1'],
 [172, 'Price1'],
 [173, 'Price1'],
 [174, 'Price1'],
 [175, 'Price1'],
 [176, 'Price1'],
 [177, 'Price1'],
 [178, 'Price1'],
 [179, 'Price1'],
 [180, 'Price1'],
 [181, 'Price1'],
 [182, 'Price1'],
 [183, 'Price1'],
 [184, 'Price1'],
 [185, 'Price1'],
 [186, 'Price1'],
 [187, 'Price1'],
 [188, 'Price1'],
 [189, 'Price1'],
 [190, 'Price1'],
 [191, 'Price1'],
 [192, 'Price1'],
 [193, 'Price1'],
 [194, 'Price1'],
 [195, 'Price1'],
 [196, 'Price1'],
 [197, 'Price1'],
 [198, 'Price1'],
 [199, 'Price1'],
 [200, 'Price1'],
 [201, 'Price1'],
 [202, 'Price1'],
 [203, 'Price1'],
 [204, 'Price1'],
 [205, 'Price1'],
 [206, 'Price1'],
 [207, 'Price1'],
 [208, 'Price1'],
 [209, 'Price1'],
 [210, 'Price1'],
 [211, 'Price1'],
 [212, 'Price1'],
 [213, 'Price1'],
 [214, 'Price1'],
 [215, 'Price1'],
 [216, 'Price1'],
 [217, 'Price1'],
 [218, 'Price1'],
 [219, 'Price1'],
 [220, 'Price1'],
 [221, 'Price1'],
 [222, 'Price1'],
 [223, 'Price1'],
 [224, 'Price1'],
 [225, 'Price1'],
 [226, 'Price1'],
 [227, 'Price1'],
 [228, 'Price1'],
 [229, 'Price1'],
 [230, 'Price1'],
 [231, 'Price1'],
 [232, 'Price1'],
 [233, 'Price1'],
 [234, 'Price1'],
 [235, 'Price1'],
 [236, 'Price1'],
 [237, 'Price1'],
 [238, 'Price1'],
 [239, 'Price1'],
 [240, 'Price1'],
 [241, 'Price1'],
 [242, 'Price1'],
 [243, 'Price1'],
 [244, 'Price1'],
 [245, 'Price1'],
 [246, 'Price1'],
 [247, 'Price1'],
 [248, 'Price1'],
 [249, 'Price1'],
 [250, 'Price1'],
 [251, 'Price1'],
 [252, 'Price1'],
 [253, 'Price1'],
 [254, 'Price1'],
 [255, 'Price1'],
 [256, 'Price1'],
 [257, 'Price1'],
 [258, 'Price1'],
 [259, 'Price1'],
 [260, 'Price1'],
 [261, 'Price1'],
 [262, 'Price1'],
 [263, 'Price1'],
 [264, 'Price1'],
 [265, 'Price1'],
 [266, 'Price1'],
 [267, 'Price1'],
 [268, 'Price1'],
 [269, 'Price1'],
 [270, 'Price1'],
 [271, 'Price1'],
 [272, 'Price1'],
 [273, 'Price1'],
 [274, 'Price1'],
 [275, 'Price1'],
 [276, 'Price1'],
 [277, 'Price1'],
 [278, 'Price1'],
 [279, 'Price1'],
 [280, 'Price1'],
 [281, 'Price1'],
 [282, 'Price1'],
 [283, 'Price1'],
 [284, 'Price1'],
 [285, 'Price1'],
 [286, 'Price1'],
 [287, 'Price1'],
 [288, 'Price1'],
 [289, 'Price1'],
 [290, 'Price1'],
 [291, 'Price1'],
 [292, 'Price1'],
 [293, 'Price1'],
 [294, 'Price1'],
 [295, 'Price1'],
 [296, 'Price1'],
 [297, 'Price1'],
 [298, 'Price1'],
 [299, 'Price1'],
 [300, 'Price1']]

In [102]:
writeframe = pd.DataFrame(submissionarray)
writeframe.columns = ['Item id', 'Price']

In [106]:
writeframe.set_index('Item id')

          Price
Item id
1        Price2
2        Price2
3        Price1
4        Price2
5        Price2
...         ...
296      Price1
297      Price1
298      Price1
299      Price1
300      Price1

[300 rows x 1 columns]

In [107]:
writeframe

     Item id   Price
0          1  Price2
1          2  Price2
2          3  Price1
3          4  Price2
4          5  Price2
..       ...     ...
295      296  Price1
296      297  Price1
297      298  Price1
298      299  Price1
299      300  Price1

[300 rows x 2 columns]

In [118]:
writeframe.to_csv('scenario1.csv', index=False)
# ../input/output/

In [17]:
# type(finalitems)
# len(finalitems)
scenario1price = 0
scenario1qty = 0
for i in range(len(finalitems)):
    scenario1price+=(npdataset[i][finalitems[i]] * npdataset[i][finalitems[i]+1])
    scenario1qty+=(npdataset[i][finalitems[i]+1])

In [18]:
scenario1price>=criterion1_revenuegainask, criterion1_revenuegainask- scenario1price

(False, 1576.2000000001863)

In [19]:
scenario1qty>=criterion1_quantitygainask, criterion1_quantitygainask- scenario1qty

(False, 12880.0)

In [ ]:
total_hit