In [1]:
import pandas as pd 
import numpy as np

In [2]:
# dataset = pd.read_csv("../input/walmart-retail/dataset.csv")
dataset = pd.read_csv("dataset.csv")

In [3]:
dataset = dataset.drop(columns = ['Item_id'])

In [4]:
npdataset = dataset.values

In [5]:
base_revenue = 0
for i in npdataset:
    base_revenue+=(i[0]*i[1])

base_revenue

5778972

In [6]:
total_base_quantity = dataset.iloc[:,1].sum()
total_base_quantity

144328

In [7]:
x = 1.07
y = 1.2

In [8]:
criterion1_revenuegainask = x*base_revenue
criterion1_quantitygainask = y*total_base_quantity

In [20]:
finalitems = []

total_base_qty = 0
total_sale_price = 0
total_sale_qty = 0
total_base_price = 0
total_hit = 0


for item in npdataset:
    total_base_price+=(x*item[0]*item[1])
    total_base_qty+=(y*item[1])
    
    if ((total_sale_price+item[0]*item[1]>= total_base_price) and (total_sale_qty+item[1] >= total_base_qty)):
        total_sale_price+=(item[0]*item[1])
        total_sale_qty+=item[1]
        finalitems.append(0)
        continue
    
    choose = []
    for i in [2,4,6,8]:
        choose.append([item[i],item[i+1], ((item[0] - item[i])*item[i+1]), i])
    
    newchoose = sorted(choose, key = lambda x:x[2])
    item_chosen = 0
    for prospective_item in newchoose:
        if( (total_sale_price+prospective_item[0]*prospective_item[1]>=total_base_price) and (total_sale_qty+prospective_item[1] >= total_base_qty) ):
            item_chosen = 1
            total_sale_price+=(prospective_item[0]*prospective_item[1])
            total_sale_qty+=prospective_item[1]
            finalitems.append(prospective_item[3])
            total_hit+=prospective_item[2]
            break
        
    if item_chosen == 0:
        maximum = newchoose[0][0]*newchoose[0][1]
        maxid = 0
        for c in range(len(newchoose)):
            if(newchoose[c][0]*newchoose[c][1]>maximum):
                maxid = c
        total_sale_price+=(newchoose[maxid][0]*newchoose[maxid][1])
        total_sale_qty+=newchoose[maxid][1]
        finalitems.append(newchoose[maxid][3])
        total_hit+=newchoose[maxid][2]

In [21]:
submissionarray = []
for i in finalitems:
    if(i == 0):
        submissionarray.append('Base_Price')
    elif(i == 2):
        submissionarray.append('Price1')
    elif(i == 4):
        submissionarray.append('Price2')
    elif(i == 6):
        submissionarray.append('Price3')
    elif(i == 8):
        submissionarray.append('Price4')

In [22]:
submissionarray = list(enumerate(submissionarray))

In [23]:
submissionarray = [[i[0]+1, i[1]] for i in submissionarray]

In [13]:
writeframe = pd.DataFrame(submissionarray)
writeframe.columns = ['Item id', 'Price']

In [14]:
writeframe.set_index('Item id')

              Price
Item id
1            Price2
2            Price2
3            Price1
4        Base_Price
5            Price1
...             ...
296          Price2
297          Price1
298          Price4
299          Price1
300          Price2

[300 rows x 1 columns]

In [15]:
writeframe.to_csv('scenario3.csv', index=False)
# ../input/output/

In [24]:
scenario1price = 0
scenario1qty = 0
for i in range(len(finalitems)):
    scenario1price+=(npdataset[i][finalitems[i]] * npdataset[i][finalitems[i]+1])
    scenario1qty+=(npdataset[i][finalitems[i]+1])

In [25]:
scenario1price>=criterion1_revenuegainask, criterion1_revenuegainask- scenario1price

(True, -220764.95999999996)

In [26]:
scenario1qty>=criterion1_quantitygainask, criterion1_quantitygainask- scenario1qty

(True, -46.39999999999418)

In [27]:
total_hit

534917